.env
.venv/
__pycache__/
*.pyc
.DS_Store
gurobi.lic
*.lic
*-credentials.json
data/output/*
package-lock.json
README.md
frontend/node_modules/
Optimization/Size of the Prize Arthur
arthur_src/
outputs/